/*Block Styling*/

body {
    background-color: #171717;
    font-family: Helvetica;
}

h1 {
    color: darkslateblue;
    background-color: yellow;
    font-family: 'Segoe UI';
    font-size: 40pt;
    text-align: center;
    padding: 0.5%;
}

h2 {
    color: yellow;
    background-color:darkslateblue;
    font-size: 20pt;
    padding: 0.5%;
}

h3 {
    color: yellow;
    background-color: darkslateblue;
    font-size: 15pt;
    font-style: italic;
    padding: 0.5%;
}

p {
    color: yellow;
    background-color: darkslateblue;
    font-size: 15pt;
    border: solid yellow thick;
    padding: 0.5%;
    margin: 0.5%;
}

ol, ul {
    color: yellow;
    background-color: midnightblue;
    font-size: 15pt;
}

caption {
    background-color: midnightblue;
    padding: 0.5%;
}

pre {
    color: white;
}

nav {
    background-color: yellow;
    text-align: right;
    font-size: 20pt;
    height: 25pt;
    padding: 0.5%;
}

.lh, #news {
    background-color: midnightblue;
    padding: 0.5%;
}

table {
    color: yellow;
    background-color: midnightblue;
    font-size: 15pt;
    padding: 0.5%;
}

img {
    color: yellow;
}

/*Inline Styling*/

mark {
    background-color: #ffff00bf;
    color: darkslateblue;
}

.name {
    color: gold;
}